'scopeName': 'source.striger'
'name': 'Striger'
'fileTypes': ['.stgr','.striger']

'patterns': [
    {
      'match': '\\b(([0-9]+\\.[0-9]*)|(\\.[0-9]+))|(([0-9]+[0-9]*)|([0-9]+))\\b'
      'name': 'constant.numeric.striger'
    }
    {
      'match': '[{}\\[\\]\\<\\>]*'
      'name': 'meta.group.symbol.striger'
    }
    {
      'match': '\\b(user-story|description|pov|user|)\\b'
      'name': 'constant.keyword.striger'
    }
]
